body {
	background-color: #2c3e50;
	color: white;
	font-family: Arial, sans-serif;
}
h1 {
	color: #f1c40f;
	text-aling: center;
}
.cartao {
	width: 300px;
	margin: 50px;
	padding: 3px solid #f1c40f;
	border-radius: 10px;
	text-align: center;
}
form {
	max-width: 400px;
	margin: 20px 0;
	display: flex;
	flex-direction: column;
}
label {
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 5px;
}
input, textarea {
	padding: 10px;
	border: 1px; solid #ccc;
	border-radius: 5px;
	front-size: 16px;
}
button {
	margin-top: 20px;
	padding: 12px;
	background-color: #f9eac3;
	color: black;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
}
button:hover {
	background-color #2ecc71;
}